.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modalContent {
    width: 380px;
    height: 169.33px;
    background: #f1eae4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 23.22px;
    border: 3.48px solid #79655E;
    font-family: 'Forum', serif;
}

.title {
    width: 254.67px;
    font-size: 21.33px;
    text-align: center;
    margin-top: 23.33px;
}

.btn {
    height: 39.72px;
    border: none;
    box-shadow: 0px 2.67px 2.67px 0px #00000040;
    font-family: 'Forum', serif;
    font-size: 13.33px;
    margin-top: 2.55px;
    cursor: pointer;
}

.buttons {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.buttons .btn:nth-child(1) {
    width: 61.91px;
    color: white;
    background-color: #79655E;
}

.buttons .btn:nth-child(2) {
    width: 58.04px;
}