.hero {
    background-image: url('../image/bgImage.png');
    height: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Ysabeau Infant", sans-serif;
}

.title {
    width: 1040px;
    z-index: 2;
}

.text {
    color: white;
    font-size: 96px;
    font-weight: 400;
    text-align: center;
}

.bg1 {
    width: 210px;
    position: absolute;
    bottom: 275px;
    left: 440px;
}

.bg2 {
    width: 355.5px;
    position: absolute;
    bottom: 263px;
    left: 730px;
}

.about {
    max-width: 1300px;
    margin: 0 auto;
    font-size: 76px;
    font-weight: 400;
    line-height: 79.49px;
    font-family: "Forum", serif;
}

.info {
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    background-color: #DEC2A045;
}

.infoDiv {
    text-align: center;
}

.infoDiv p {
    font-weight: 600;
    font-size: 37.5px;
    margin: 0;
}

.infoDiv span {
    display: inline-block;
    font-weight: 400;
    font-size: 22.5px;
    margin-bottom: 10px;
}

.choiseTitle {
    font-weight: 600;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 70px;
}

.choiseVariants {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.choiseImg {
    width: 371.01px;
    height: 547.09px;
    border-radius: 10px;
}

.choiseText {
    font-weight: 400;
    font-size: 19.5px;
    font-family: "Poppins", sans-serif;
    width: 150px;
}

.trustSection {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trustSection h1 {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.trustSectionContent {
    width: 1150px;
    display: flex;
    justify-content: space-between;
}

.trustSectionText {
    width: 498px;
}

.trustSectionText p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    width: 498px;
}

.trustIcon {
    width: 551.25px;
    height: 635.25px;
}

.trustSectionBtn {
    width: 498px;
    height: 86.25px;
    background-color: #DEC2A047;
    border: none;
    font-family: "Forum", serif;
    font-size: 36px;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-top: 30px;
}

.reviewsSection {
    background-color: #DEC2A02B;
    font-family: "Montserrat", sans-serif;
    padding: 10px 0;
    margin-top: 110px;
}

.reviewsSectionTitle {
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}

.reviewsDiv {
    width: 892.5px;
    height: 206.25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 15px;
    right: 100px;
    position: relative;
    left: 100px;
    margin: 25px 0;
}

.reviewsText {
    width: 663px;
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.reviewsDiv span {
    display: block;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.username {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

.reviewsDivRight {
    left: 300px;
}

.reviewIcon {
    width: 110.25px;
    height: 110.25px;
}