.container {
    background-image: url('../image/bgImage.png');
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Ysabeau Infant", sans-serif;
}

.title {
    width: 1000px;
}

.text {
    color: white;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
}

.inputDiv {
    width: 83%;
    display: flex;
    justify-content: space-around;
}

.select {
    width: 400px;
    height: 60px;
    padding: 20px 34px 20px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ACACAC;
}

.input {
    width: 400px;
    height: 17px;
    padding: 20px 34px 20px 20px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #ACACAC;
}

.btn {
    width: 400px;
    height: 60px;
    background-color: #DEC2A0;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    border: 1px solid #949494;
}

.slider {
    width: 100%;
}

.discountContainer {
    max-width: 1300px;
    height: 400px;
    margin: 30px auto;
    background-color: #F2EDE7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discountBg {
    width: 300px;
    height: 300px;
    background-image: url('../image/discountBg.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.discountBg img {
    width: 300px;
    height: 300px;
}

.discountText {
    margin-left: 40px;
}

.discountText h1 {
    font-size: 50px;
    margin: 0 0 15px 0;
}

.discountText p {
    width: 850px;
    font-size: 40px;
    margin: 0;
}

.discountBtnDiv {
    display: flex;
    justify-content: end;
}

.discountBtnDiv button {
    width: 280px;
    height: 50px;
    font-size: 20px;
    background-color: #DEC2A0;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.reviewsContainer {
    height: 600px;
    background: linear-gradient(180deg, #E8D7C3C9 50%, #F2EDE7 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviewCard {
    width: 240px;
    height: 420px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #FFFFFF;
    margin: 5px;
    border-radius: 20px;
}

.reviewCard img{
    width: 120px;
    height: 120px;
    margin-left: 10px;
}

.reviews {
    display: flex;
    justify-content: space-around;
}

.review{
    height: 190px;
    font-size: 13px;
    font-family: "Jost", sans-serif;
}

.reviewsTitle{
    font-family: "PT Sans Narrow", sans-serif;
}

.reviewName {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-left: 10px;
}

.role {
    color: #111111;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-left: 10px;
}