.PasswordResetPage {
    background-color: #F2EDE7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

.title {
    color: #79655E;
    font-family: "Forum", serif;
    font-weight: 400;
    margin-top: 33.75px;
}

.container {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 455.18px;
    height: 551.25px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 468.75px;
    height: 297px;
    border-radius: 15px;
}

.inputDiv {
    display: flex;
    align-items: center;
    margin-bottom: 18.99px;
}

.inputDiv input {
    width: 274.55px;
    height: 38.85px;
    background-color: #EEEEEE;
    border: none;
    box-sizing: border-box;
}

.secure {
    width: 22.5px;
    height: 22.5px;
}

.eye {
    width: 26.59px;
    height: 25.9px;
    cursor: pointer;
}

.secureDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
    width: 40px;
    height: 38.85px;
}

.eyeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
    width: 40px;
    height: 38.85px;
}

.btnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnDiv button {
    width: 274.77px;
    height: 35.4px;
    border-radius: 15px;
    background-color: #79655E;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    margin-top: 22.45px;
    cursor: pointer;
}