.wrapper {
    width: 80%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif; 
    margin-top: 40px;
}

.container {
    max-width: 1200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.element {
    width: 366px;
    margin: 0 13px 30px 13px
}

.element span {
    display: block;
}

.titleDiv{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.title{
    font-size: 24px;
}

.icon {
    width: 363.75px;
    height: 252px;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    color: black;
}