.hero {
    background-image: url('../image/placesHeroBg.png');
    height: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Ysabeau Infant", sans-serif;
}

.title {
    width: 1000px;
    z-index: 2;
}

.text {
    color: white;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
}

.inputDiv {
    display: flex;
    justify-self: center;
}

.input {
    width: 212.25px;
    height: 61.5px;
    padding: 0 10px;
    border: 1px solid #ACACAC;
    border-radius: 7.5px;
    margin: 20px 6px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.findBtn {
    background-color: #DEC2A0;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.discountContainer {
    max-width: 1128px;
    height: 400px;
    margin: 110px auto 100px;
    background-color: #F2EDE7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discountBg {
    width: 297px;
    height: 297px;
    background-image: url('../image/discountBg.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.discountBg img {
    width: 297px;
    height: 297px;
}

.discountText {
    margin-left: 40px;
}

.discountText h1 {
    font-size: 36px;
    line-height: 46.58px;
    margin: 0 0 15px 0;
    font-family: "PT Sans Caption", sans-serif;
}

.discountText p {
    width: 652.5px;
    font-size: 36px;
    margin: 0;
    font-family: "PT Sans Narrow", sans-serif;
}

.discountBtnDiv {
    display: flex;
    justify-content: end;
}

.discountBtnDiv button {
    width: 218.25px;
    height: 52.17px;
    font-size: 20px;
    background-color: #DEC2A0;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}