.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modalContent {
    width: 400px;
    height: 681.59px;
    background: #f1eae4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.title {
    background-color: #fff;
    width: 100%;
    text-align: center;
}

.title h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    line-height: 20.6px;
    font-size: 15.92px;
}

.input {
    height: 30.41px;
    border-radius: 4.98px;
    border: 0.5px solid #ACACAC ;
}

.inputDiv {
    display: flex;
}

.inputDiv .input {
    margin-right: 7.46px;
    box-sizing: border-box;
}

.inputDiv .input:nth-child(1) {
    width: 64.68px;
}

.inputDiv .input:nth-child(2) {
    width: 129.85px;
}

.inputDiv .input:nth-child(3) {
    width: 64.68px;
}

.container {
    font-family: 'Forum', serif;
}

.form {
    width: 90%;
}

.form p {
    margin: 12.87px 0 9.36px;
}

.inputTime {
    width: 111.44px;
}

.quantity {
    width: 170.65px;
}

.textarea {
    width: 290.05px;
    height: 66.17px;
}

.choice {
    width: 80%;
    display: flex;
    font-family: 'Forum', serif;
    justify-content: space-between;
    font-size: 15.92px;
}

.choiceDiv {
    display: flex;
    align-items: center;
    margin-bottom: 16.83px;
}

.choiceDiv label {
    margin-left: 7.46px;
}

.total {
    width: 90%;
    margin-top: 17.31px;
}

.btn {
    width: 181.09px;
    height: 43.78px;
    border: none;
    background-color: #DEC2A080;
    font-family: "Forum", serif;
    font-size: 15.92px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-top: 38.74px;
}

.btnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}