.suppliersContainer{
    margin-bottom: 100px;
}

.hero {
    background-image: url('../image/suppliersHeroBg.png');
    height: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Ysabeau Infant", sans-serif;
}

.title {
    width: 1000px;
    z-index: 2;
}

.text {
    color: white;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.categoryContainer{
    font-family: "Poppins", sans-serif;
}

.categoryContainer h1 {
    font-size: 22.5px;
    font-weight: 500;
    margin: 45px 0;
}

.category {
    display: flex;
}

.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 120px;
    cursor: pointer;
}

.categoryItem img {
    width: 112.5px;
    height: 112.5px;
    border-radius: 50%;
}

.categoryItem p {
    font-size: 18px;
    font-weight: 500;
}