.container{
    font-family: "Poppins", sans-serif;
    margin-top: 115px;
}

.container h1{
    font-weight: 500;
    font-size: 22.5px;
    margin-left: 15px;
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 264px;
    height: 252px;
    margin-bottom: 15px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 11px 30px 11px;
}

.item span {
    font-weight: 400;
    font-size: 21px;
}

.item span:nth-child(3) {
    font-weight: 600;
    font-size: 21px;
}